language: go


go:
  - 1.12.x

os:
  - linux

services:
  - docker

# skip the default language's install and script steps, we implement job stages instead
install: skip
script: skip

stages:
  - name: test
  - name: deploy
    if: tag IS present

get-cli: &get-cli
  install:
      - make get-cli

test-template: &test-template
  stage: test
  <<: *get-cli
  script: make test

jobs:
  include:
    - <<: *test-template
      name: Parser Test on Linux
      os: linux
      script: make parser-test
    - <<: *test-template
      name: Simple Run Test on Linux
      os: linux
      script: make run_simple-test    
    # - name: Deploy Release
    #   stage: deploy
    #   os: linux
    #   provider: releases
    #   skip_cleanup: true
    #   api_key:
    #     secure: IoOz/0+9q6V/LU6WpklMTZ3mR67tTO0TOt7jIdymshVWMngOnHh8AYOKqOHu7QG6n2qU0s0BzH3T7YKh15UgjK3gWfPV2gpXxbZiWky1nKoq3KCtLfd4PBJX/cFCxGXKC+ZbRtMsxtmpkSsUJTPOt8rh7V0A+MxvePpIiXN5FgjW5qSXt5xo+4c4lloGy+6oNAIytS14RdEAvTFLRvVndQboqcHKIZxwWvFhWrgFIQTTsvDYGjBu3w4AFn2LWIvKdR1j9aLv1sU8rPc18+2Y01joBS/SC/MCjoRJNqkPGsP3gyT02uC3SPaP/OyjVzeKjkhruWiqIOIhHM//G1tkhmLD+eRYaI+gaZmn0f48ijzEpDNozOr7zgL1NEeFnOmhz/FitMTsxuv3MSeCJ5rvZLeRVIUaOmS+85w5RBAvFN2K3opKc/2B2D6HU7sjMgG9IDwBR1IyJXsNrQ2d8iFKVEMjuhvSpBrvfjYxCOTYElmLfQdmNFtFPIVOr30MwMxfivPyXHkX29I2aZuP3SrWF5t5zYcEzwDyHNZETr6yGHl7Obimt0yN3YE5AvpJe5iQsHQuKqmAY1pNO4829b7qLFa8b1H6HbkVP2sssBHj0hBkgw4NxYZwhwWblpNT7rVis/DlhJsy0VR1aqhnTaHp9S9j+Hiob/Hj/FCIBxYNk4Y=
    #   file: ci/package/*
    #   file_glob: true
    #   on:
    #     tags: true
    #   repo: appsody/stacks