language: go

go:
  - 1.12.x

os:
  - linux

services:
  - docker

# skip the default language's install and script steps, we implement job stages instead
install: skip
script: skip

stages:
  - name: test
  - name: deploy
    if: tag IS present

# build-script: &build-script
#   install: 
#     - ./ci/build.sh .

get-cli: &get-cli
  install:
      - make get-cli
      - . ./ci/list.sh .
      - echo $STACKS_LIST
      - cd vendor/github.com/appsody/appsody/functest
      - pwd
      - export APPSODY_STACKS=incubator/terrence
      - echo $APPSODY_STACKS
      - echo $STACKS_LIST
      - go test -v -count=1 -p=1 -run TestParser

test-template: &test-template
  stage: test
  <<: *get-cli
  script: make test

# note before_deploy will run before each deploy provider
before_deploy:
  script: ./ci/release.sh .

jobs:
  include:
    - <<: *test-template
      name: Parser Test on Linux
      os: linux
      script: make parser-test
    - <<: *test-template
      name: Simple Run Test on Linux
      os: linux
      script: make run_simple-test    
  # # - name: Deploy Release
  #     deploy:
  #       provider: releases
  #       skip_cleanup: true
  #       api_key: $GITHUB_TOKEN
  #       file: ci/release/*
  #       file_glob: true
  #       on:
  #         tags: true
  #         repo: neeraj-laad/stacks
  #         # branch: master







